{% extends 'base.html'%}

{% block title %}Все задачи{% endblock %}

{% block content %}
{% if user.is_authenticated%}
<section class="tasks">
    <div class="container">
        <h2 class="title">Все задачи</h2>
        <div class="tasks-list">
            {% for task in tasks %}
                {% if task.difficulty == "easy" %}
                <div class="task-card is-easy">
                    <div class="task-card__info">
                        <div class="task-card__title">{{task.title}}</div>
                        <div class="task-card__complexity ">{{task.difficulty}}</div>
                        <div class="task-card__title">{{task.customer}}</div>
                        <div class="task-card__deadline">{{task.deadline}}</div>    
                    </div>
                    <div class="task-card__buttons">
                        <a href="{% url 'task_detail_page' pk=task.pk %}" class="task-card__link">Подробнее</a>
                        {% if not task.is_active %}
                        <div class="status is-done">В работе</div>
                        {% else %}
                        <div class="status">Завершено</div>
                        {% endif %}                    </div>
                </div>
                {% elif task.difficulty == "medium" %}
                <div class="task-card is-medium">
                    <div class="task-card__info">
                        <div class="task-card__title">{{task.title}}</div>
                        <div class="task-card__complexity ">{{task.difficulty}}</div>
                        <div class="task-card__title">{{task.customer}}</div>
                        <div class="task-card__deadline">{{task.deadline}}</div>    
                    </div>
                    <div class="task-card__buttons">
                        <a href="{% url 'task_detail_page' pk=task.pk %}" class="task-card__link">Подробнее</a>
                        {% if not task.is_active %}
                        <div class="status is-done">В работе</div>
                        {% else %}
                        <div class="status">Завершено</div>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="task-card is-hard">
                    <div class="task-card__info">
                        <div class="task-card__title">{{task.title}}</div>
                        <div class="task-card__complexity ">{{task.difficulty}}</div>
                        <div class="task-card__title">{{task.customer}}</div>
                        <div class="task-card__deadline">{{task.deadline}}</div>    
                    </div>
                    <div class="task-card__buttons">
                        <a href="{% url 'task_detail_page' pk=task.pk %}" class="task-card__link">Подробнее</a>
                        {% if not task.is_active %}
                        <div class="status is-done">В работе</div>
                        {% else %}
                        <div class="status">Завершено</div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>
</section>
{% else %}
<section class="access">
    <div class="container">
        <h1 class="title">Вы анонимный пользователь</h1>
        <p class="dark-text">Чтобы работать с приложением, Вам нужно будет пройти регистрацию и авторизацию</p>
        <div class="access-action">
            <a href="{% url 'sign_up_page' %}" class="btn-success">Регистрация</a>
            <a href="{% url 'login_page' %}" class="btn-success">Вход</a>
        </div>
    </div>
</section>
{% endif %}
{%endblock%}